
/* ************************* HEADER ************************* */

body, header, header * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background: #ECFAFB;
   font-family: 'Crimson Text', serif;
}

header {
   width: 100%;
   padding: 15px;
}

header h2 {
   font-family: 'Cinzel', serif;
   font-size: 28px;
   font-weight: bold;
   padding: 0 10px;
   color: rgb(100, 102, 133);
   display: inline-block;
}

header a {
   font-family: 'Crimson Text', serif;
   font-size: 25px;
   padding: 0 10px;
   color: rgb(100, 102, 133);
   background-color: rgba(0, 0, 0,0);
}

.width-fixed {
   width: 150px;
}

a:hover {
  /* color: #0056b3; */
  text-decoration: none;
  color: rgb(101, 96, 97);
}

.header-grid-container {
   display: grid;
   max-width: 100%;
   grid-template-columns: 70% 30%;
   grid-template-rows: 80% 10% 10%;
}

.header-grid-item {
   justify-self: center;
   align-self: center;
}

.central-item {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   padding: 10px 0;
}

#hamburger-menu {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
}

.top-item {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
}

.bottom-item {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
}

#logo {
   width: 180px;
}

.column-left div {
   text-align: right;
   border-right: 1px solid blue;
}

.column-right div {
   text-align: left;
   border-left: 1px solid blue;
}

.column-left div:hover, .column-right div:hover   {
   background-color: rgba(214, 196, 129, 0.2); /*rgba(129, 203, 200, 0.3);*/
   border-left: 1px solid blue;
   border-right: 1px solid blue;

}

.develop-by {
   margin-top: 20px;
   border-top: 1px solid #D6C481;
   padding: 20px;
}

/* ************************* SECTION PREVIEW ************************* */

.preview {
   position: relative;
}

.preview h2 {
   position: absolute;
   font-size: 28px;
   z-index: 10;
   color: rgb(191, 186, 189);
   top: 1%;
}
/* color: rgb(220, 224, 220); */
#hotel .preview h2 {
   color: rgb(191, 186, 189);
   font-size: 37px;
   left: 50%;
   top: 10%;
   transform: translateX(-50%);
}

#hotel .preview p {
   font-size: 15px;
   line-height: 15px;
   padding: 5% 20%;
   text-align: justify;
   color: rgb(191, 186, 189);
   z-index: 10;
}

.preview p.description {
   font-size: 17px;
   line-height: 20px;
   padding: 3% 5%;
   text-align: justify;
   color: rgb(191, 186, 189);
   z-index: 10;
}

/* .side-box p.description {
   font-size: 18px;
   line-height: 19px;
   color: rgb(191, 186, 189);
   z-index: 10;
} */



.first-letter {
   font-size: 47px;
   /* font-weight: bold; */
}

.preview-title-left {
   left: 1%;
}

.preview-title-right {
   right: 1%;
}

.preview img {
   width: 100%;
   height: 100%;
}

.preview:after {
  content: "";
  display: block;
  position: absolute; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
}

.preview p {
   position: absolute;
   bottom: 0;
   margin: 0;
}

.btn {
   background-color: rgba(255,255,255,0);
   border-radius: 0%;
   border: 3px solid #000;
   font-size: 1.5em;
}

.btn-blue {
   border-color: #4AA6B5;
   color: #4AA6B5;
}

.btn-gold {
   border-color: #D6C481;
   color: #D6C481;
}

.row {
   height: 200px;
}

#banner .row {
   height: 50px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 5px 3px;
  font-size: 15px;
  margin-bottom: -1px;
  background-color: #ECFAFB;
  border: none;
}

footer .row {

}
.separator:first-child  {
   border-right: 2px solid #D6C481;
}



/* ***************************************************************** */
/* ************************* MEDIA-QUERIES ************************* */
/* ***************************************************************** */

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {

   .header-grid-container {
      max-width: 540px;
      margin: 0 auto;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 20% 20% 20% 20% 20%;
   }

   header .header-grid-container div:not(.flag-container) {
      display: block;
   }

   header h2 {
      font-size: 30px;
      padding: 0 10px;
      display: inline-block;
   }

   header a {
      font-family: 'Crimson Text', serif;
      font-size: 24px;
      padding: 0 10px;
   }

   #hotel .preview p {
      font-size: 18px;
      line-height: 20px;
      padding: 3% 20%;
      text-align: center;
   }


   #hamburger-menu {
      display: none;
   }

   .top-item {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
   }

   .left-top-item {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-self: right;
   }

   .left-central-item {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-self: right;
   }

   .left-bottom-item {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
      justify-self: right;
   }

   .central-item {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 5;
   }

   .right-top-item {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-self: left;
   }

   .right-central-item {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-self: left;
   }

   .right-bottom-item {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
      justify-self: left;
   }

   .right-bottom-corner {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
      justify-self: left;
   }

   .bottom-item {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
   }

   #logo {
      width: 250px;
   }

   .preview img {
      height: 100%;
   }

   /* *** flag language grid *** */
   .flag-container {
      display: none;
      position: absolute;
      justify-content: space-around;
      align-content: space-between;
      justify-items: center;
      align-items: center;
      top: -100%;
      left: 105%;
      width: 90px;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
   }

   #flags:hover .flag-container {
      display: grid;
   }

   /* *** flag grid *** */
   .flag-container img {
      width: 30px;
      padding: 0 5px;
   }

   .flag-container img:hover {
      width: 40px;
      padding: 0 5px;
      z-index: 2;
   }

   .flag-lt {
      grid-column: 1 2;
      grid-row: 1 2;
   }

   .flag-lc {
      grid-column: 1 2;
      grid-row: 2 3;
   }

   .flag-lb {
      grid-column: 1 2;
      grid-row: 3 4;
   }

   .flag-ct {
      grid-column: 2 3;
      grid-row: 1 2;
   }

   .flag-cc {
      grid-column: 2 3;
      grid-row: 2 3;
   }

   .flag-cb {
      grid-column: 2 3;
      grid-row: 3 4;
   }

   #flags {
      position: relative;
   }

   #current-language {
      width: 30px;
   }

   #banner .row {
      height: 120px;
   }

   footer {
      height: 250px;
   }

   footer .row {
      height: 200px;
   }

   footer img {
      width: 200px;
   }

   .maps {
     position: relative;
     overflow: hidden;
     padding: 5px;
     width: 100% !important;
     height: 100% !important;
   }

   .maps > iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100% !important;
     height: 100% !important;
   }




}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

   .header-grid-container {
      max-width: 720px;
   }

   .row {
      height: 300px;
   }

   header a {
      font-family: 'Crimson Text', serif;
      font-size: 28px;
      padding: 0 10px;
   }

   #hotel .preview p {
      font-size: 22px;
      line-height: 28px;
      padding: 5% 20%;
   }

   .preview h2 {
      font-size: 33px;
      z-index: 10;
      color: rgb(220, 224, 220);
      top: 1%;
   }
   /* color: rgb(220, 224, 220); */

}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

   header {
      padding: 30px;
   }

   header a {
      font-family: 'Crimson Text', serif;
      font-size: 30px;
      padding: 0 10px;
   }

   .header-grid-container {
      max-width: 960px;
   }

   #logo {
      width: 400px;
   }

   .preview.bg-toright::after {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 5;
     background: linear-gradient(to right, rgba(0,0,0,0.2) 50%, rgba(214,196,129,0.4) 80%, rgba(236,250,251,0.5) 90%);
   }

   .preview.bg-toleft::after {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 5;
     background: linear-gradient(to left, rgba(0,0,0,0.2) 50%, rgba(214,196,129,0.4) 80%, rgba(236,250,251,0.5) 90%);
   }

   .side-box.bord-lft {
      border-left: 3px solid #4AA6B5;
   }

   .side-box.bord-rgt {
      border-right: 3px solid #D6C481;
   }

   .side-box .row {
      height: 100%;
   }

   #hotel .preview h2 {
      font-size: 55px;
   }



   #hotel .preview p {
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      padding: 5% 20%;
   }


   .first-letter {
      font-size: 65px;
   }

}

 /* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

   .header-grid-container {
      max-width: 1140px;
   }

   #hotel .row{
      height: 600px;
   }

   #hotel .preview p {
      text-align: center;
      font-size: 32px;
      line-height: 45px;
      padding: 15% 20%;
   }

   .preview h2 {
      font-size: 35px;
   }

}
